<%= quick_form method: "post", url: users_url do %>
  <label>Username</label>
  <input type="text" name="user[username]" value="">
  <label>Password</label>
  <input type="password" name="user[password]" value="">
<% end %>
